
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css" />
  <title>About page</title>
</head>

<body>{% include 'navbar.html' %}
  <div class="container" style="text-align:center">
    
    <h1>Welcome to Government Polytechnic Barauni.
    </h1>
    <h3>

        <ul type="circle" style="list-style-type:none">
            <li>Name : Ritesh Kumar</li>
            <li>College : G.P.Barauni</li>
            <li> Branch : CSE</li>
            <li>Address : BGS</li>
        </ul>
    </h3>
    <p>Government Polytechnic Barauni, Begusarai is the primer institute of the state imparting diploma level education in different fields of engineering situated in the industrial most developed town. Government Polytechnic Barauni, Begusarai is situated amidest big near by Industries like Refinery of I.O.C. Fertilizer plant of H.F.C., B.T.P.S. and various small scale, medium scale industries. It is located on N.H.-31 at a distance of about 3 KMs west of the nearest Rly. Station, Begusarai (N.E. Railway). At Government Polytechnic Barauni, we provide high-end diploma program in several branches i.e. Civil Engg, Chemical Engg., Electronics Engg., Computer Science & Engg. and Fire Technology and Safety. Institute has been provided with qualified and experienced teaching faculty, well equipped laboratories, spacious library, playgrounds and all other needful infrastructural facilities.</P>
    <p></p>
    <buttom style="color:red;hight:10px;width:20px;background:black">Contact Us</buttom>
  
  
  <script src="script.js"></script>
</body>
</html>