<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css" />
  <title>Home page</title>
</head>

<body>{% include 'navbar.html' %}
  <div class="container" style="text-align:center">
    <h1>Welcome our offical website</h1>


    <form action="/home/" method="POST">
      {% csrf_token %}
      
      Address :<input type="checkbox" name="check">
      
      <button>Send</button>
    </form>


    <p>Welcome to my website! I'm Ritesh Raj, passionate about technology and innovation. Here, I share my journey, insights, and expertise in software development, particularly focusing on Python and Django. My goal is to make complex concepts simple and accessible for everyone. Whether you're a beginner looking to learn coding or a professional seeking advanced knowledge, you'll find valuable resources and tutorials here. Join me as we explore the fascinating world of programming together. Feel free to connect and share your thoughts. Let's build and grow together in this exciting digital age!</p>
    
    <button style="color:red;">Contact Us</button>
  
    <!-- Dynamic Data-->
    {% if isActive %}
    <div>
        <h1>Todays date is {{date}}</h1>
        <h2>Name is {{name}}
            <hr>
            <h1>Student data</h1>
            <h2>Student name :{{student_data.student_name}}</h2>
            <h2>College name :{{student_data.student_college}}</h2>
            <h2>City name :{{student_data.student_city}}</h2>
            <hr>
            <h1>Favorite Programs</h1>
            </h3>
                {% for p in list_of_programs %}
                    <h3>{{p}}</h3>
                {% endfor%}
            </h3>
    </div>
   {%endif%}
  </div>

  
  
</body>
</html>