<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body bgcolor="skyblue">
    {% include 'navbar.html' %}
    <form>
        <table bgcolor="white" border="0" align="center"width="25%" cellpadding="5px">
            <tr>
                <th align="Center" ><h2><font face="Colonna MT" size="10">LOGIN</font></h2><br></th>
            </tr>
            <tr align="left">
                <th>Email</th>
            </tr>
            <tr align="left">
                <th><input type="email" placeholder="Enter Your Username"required></th>
            </tr> 
            <tr align="left">
                <th>
                   <br>Password
                </th>
            </tr>
            <tr align="left">
                <th>
                    <input type="password" palceholder="********"required>
                </th>
            </tr>
            <tr>
                <th align="left">
                    <input type="checkbox"required>Rember me
                </th>
                
            </tr>
            <tr>
                <th><br><br><button type="submit"><a href="ZBook2_Store.html">Login</a></button></th>
            </tr>
            <tr align="right">
                <th><a href="Zforget.html">Forget Password?</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            </tr>
            <tr align="center">
                <th>Need an account? <a href="ZCreate_Acount.html">Create Acount</a></th>
            </tr>


        </table>  
    </form>
    
</body>
</html>